.container {
    text-align: center;
}

.title {
    margin: 1.2rem 0;
    font-family: "Montserrat";
}

.search {
    margin-bottom: 1.25rem;
    width: 15rem;
}

.table__loading {
    background: #EEBC1D;
}

.table__tablehead {
    color: black;
    background-color: #eebc1d;
}

.tablehead__cell {
    color: black;
    font-weight: 700;
    font-family: "Montserrat";
}

.number {
    width: 40px;
}

.table__row {
    background-color: #000711;
    cursor: pointer;
    font-family: Montserrat;
}

.table__row:hover {
    background-color: #010929;
}

.table__cell {
    display: flex;
    gap: 10px;
}

.table__cell img {
    margin-bottom: 10px;
    height: 30px;
}

.table__cell_div {
    display: flex;
    flex-direction: column;
}

.table__cell_symbol {
    text-transform: uppercase;
    font-size: 22px;
}

.table__cell_name {
    color: darkgrey;
}

.pagination {
    padding: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination ul {
    color: #EEBC1D;
}

.summary_box,
.summary_box_negative, 
.summary_box_positive {
    width: 30%;
    border: 0.5px solid #4a4a4a;
    border-radius: 5px; 
    position: relative;
}

.summary_box:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px 0 0 5px;
    content: '';
    border-left: 8px solid #EEBC1D;
}

.summary_box_negative:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px 0 0 5px;
    content: '';
    border-left: 8px solid #ff0000;
}

.summary_box_positive:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px 0 0 5px;
    content: '';
    border-left: 8px solid #00d615;
}