.container {
    text-align: center;
}

.title {
    margin: 1.2rem 0;
    font-family: "Montserrat";
}

.search {
    margin-bottom: 1.25rem;
    width: 15rem;
}

.table__loading {
    background: gold;
}

.table__tablehead {
    color: black;
    background-color: #eebc1d;
}

.tablehead__cell {
    color: black;
    font-weight: 700;
    font-family: "Montserrat";
}

.table__row {
    background-color: #16171a;
    cursor: pointer;
    font-family: Montserrat;
}

.table__row:hover {
    background-color: #131111;
}

.table__cell {
    display: flex;
    gap: 10px;
 
}

.table__cell img {
    margin-bottom: 10px;
    height: 50px;
}

.table__cell_div {
    display: flex;
    flex-direction: column;
}

.table__cell_symbol {
    text-transform: uppercase;
    font-size: 22px;
}

.table__cell_name {
    color: darkgrey;
}
